<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>企業アプリ</title>
    <link href="style.css" rel="stylesheet" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body v-cloak>
    <!-- ヘッダー -->
    <header>
      <div>
        <img src="./img/company.png" alt="" />
      </div>
      <div class="h_text">
        <h1>株式会社○○</h1>
        <h2>○○ Co., Ltd.</h2>
      </div>
    </header>

    <!-- アプリ部分 -->
    <div id="app">
      <!-- 画面1 -->
      <template v-if="screen == 1">
        <div id="screen1" v-scope="Screen1()"></div>
      </template>

      <!-- 画面2 -->
      <template v-else-if="screen == 2">
        <div id="screen2" v-scope="Screen2()"></div>
      </template>

      <!-- 画面3 -->
      <template v-else-if="screen == 3">
        <div id="screen3" v-scope="Screen3()"></div>
      </template>
      <!-- 画面4 -->
      <template v-else-if="screen == 4">
        <div id="screen4" v-scope="Screen4()"></div>
      </template>
      <!-- 画面5 -->
      <template v-else-if="screen == 5">
        <div id="screen5" v-scope="Screen5()"></div>
      </template>
      <!-- 画面6 -->
      <template v-else-if="screen == 6">
        <div id="screen6" v-scope="Screen6()"></div>
      </template>
      <!-- 画面7 -->
      <template v-else-if="screen == 7">
        <div id="screen7" v-scope="Screen7()"></div>
      </template>
      <!-- 画面8 -->
      <template v-else-if="screen == 8">
        <div id="screen8" v-scope="Screen8()"></div>
      </template>
      <!-- 画面9 -->
      <template v-else-if="screen == 9">
        <div id="screen9" v-scope="Screen9()"></div>
      </template>
      <!-- 画面10 -->
      <template v-else-if="screen == 10">
        <div id="screen10" v-scope="Screen10()"></div>
      </template>
      <!-- 画面11 -->
      <template v-else-if="screen == 11">
        <div id="screen11" v-scope="Screen11()"></div>
      </template>
      <!-- 画面12 -->
      <template v-else-if="screen == 12">
        <div id="screen12" v-scope="Screen12()"></div>
      </template>
      <!-- 画面13 -->
      <template v-else-if="screen == 13">
        <div id="screen13" v-scope="Screen13()"></div>
      </template>
      <!-- 画面14 -->
      <template v-else-if="screen == 14">
        <div id="screen14" v-scope="Screen14()"></div>
      </template>
      <!-- 画面15 -->
      <template v-else-if="screen == 15">
        <div id="screen15" v-scope="Screen15()"></div>
      </template>
      <!-- 画面16 -->
      <template v-else-if="screen == 16">
        <div id="screen16" v-scope="Screen16()"></div>
      </template>
      <!-- 画面17 -->
      <template v-else-if="screen == 17">
        <div id="screen17" v-scope="Screen17()"></div>
      </template>
      <!-- 画面18 -->
      <template v-else-if="screen == 18">
        <div id="screen18" v-scope="Screen18()"></div>
      </template>
    </div>

    <!-- 画面切替 -->
    <nav>
      <ul>
        <li @click="setScreen(1, $event)">
          <img src="./img/navihome.png" width="30%" />
          <p class="navilip">ホーム</p>
        </li>
        <li @click="setScreen(2, $event)">
          <img src="./img/navito-ku.png" width="30%" />
          <p class="navilip">トーク</p>
        </li>
        <li @click="setScreen(3, $event)">
          <img src="./img/naviyoyaku.png" width="30%" />
          <p class="navilip">予約状況</p>
        </li>
        <li @click="setScreen(4, $event)">
          <img src="./img/navinews.png" width="30%" />
          <p class="navilip">ニュース</p>
        </li>
        <li @click="setScreen(5, $event)">
          <img src="./img/havisoota.png" width="30%" />
          <p class="navilip">その他</p>
        </li>
      </ul>
    </nav>
    <footer></footer>

    <!-- **テンプレート** -->

    <!-- 画面1 -->
    <template id="screen1-tmpl">
      <main>
        <div class="topimage"></div>
        <div class="schedule" @click="setScreen(7, $event)">
          <img src="./img/A.jpg" alt="" class="sche_icon" />
          <p>５月１５日（金） １５：００ <br />A高校</p>
        </div>

        <section class="content">
          <div class="con_tab">
            <div class="con_tab_menu" @click="setScreen(2, $event)">
              <div>
                <img src="./img/navito-ku.png" alt="" />
              </div>
              <p>トーク</p>
            </div>
            <div class="con_tab_menu" @click="setScreen(3, $event)">
              <div>
                <img src="./img/naviyoyaku.png" alt="" />
              </div>
              <p>予約状況</p>
            </div>
            <div class="con_tab_menu" @click="setScreen(4, $event)">
              <div>
                <img src="./img/navinews.png" alt="" />
              </div>
              <p>ニュース</p>
            </div>
          </div>
          <div class="con_kari1"></div>
          <div class="con_kari2"></div>
        </section>
      </main>
    </template>

    <!-- 画面2 -->
    <template id="screen2-tmpl">
      <div class="screen1">
        <p class="torihikiaite">取引相手一覧</p>
        <div class="torihiki" @click="setScreen(6, $event)">
          <img src="./img/A.jpg" alt="" class="topimg" />
          <p>{{arrayhighschool[0]}}</p>
        </div>

        <div class="torihiki" @click="setScreen(10, $event)">
          <img src="./img/B.jpg" alt="" class="topimg" />
          <p>{{arrayhighschool[1]}}</p>
        </div>

        <div class="torihiki" @click="setScreen(11, $event)">
          <img src="./img/C.jpg" alt="" class="topimg" />
          <p>{{arrayhighschool[2]}}</p>
        </div>

        <div class="torihiki" @click="setScreen(12, $event)">
          <img src="./img/D.jpg" alt="" class="topimg" />
          <p>{{arrayhighschool[3]}}</p>
        </div>

        <!-- <input v-model="text" />
      <button @click="func">押す</button>
      <ul>
        <li v-for="item of list">{{item}}</li>
      </ul>
       -->
      </div>
      <!-- <form @submit.prevent autocomplete="off">
        <label>
          メモを取る<br />
          <input id="orderM" v-model="oMemo" />
        </label>
        <button @click="addPerson">入力</button>
      </form>
      <p>メモリスト</p>
      <ul>
        <li v-for="orderM in store.oMemos">{{orderM}}</li>
      </ul> -->
    </template>

    <!-- 画面6 -->
    <template id="screen6-tmpl">
      <div class="scroll_lists_t">
        <div class="torihiki">
          <img src="./img/A.jpg" alt="" class="topimg" />
          <p>A高校</p>
        </div>

        <div class="messemigi">
          <div class="balloon2-right">
            <p>
              こちら株式会社○○です。<br />
              よろしくお願いいたします。
            </p>
          </div>
          <img src="./img/company1.jpeg" alt="" class="messeimg" />
        </div>
        <div class="messehidari">
          <img src="./img/A.jpg" alt="" class="messeimg" />
          <div class="balloon2-left">
            <p>
              A高校です。 <br />
              こちらこそよろしくお願いします。
            </p>
          </div>
        </div>
        <div class="messemigi">
          <div class="balloon2-right">
            <p>
              ありがとうございます。<br />
              来週のイベントの講演について相談したい事があるのですがよろしいでしょうか。
            </p>
          </div>
          <img src="./img/company1.jpeg" alt="" class="messeimg" />
        </div>
        <div class="messehidari">
          <img src="./img/A.jpg" alt="" class="messeimg" />
          <div class="balloon2-left">
            <p>
              大丈夫です。<br />
              是非一度ミーティングを通して、お話出来ますでしょうか。
            </p>
          </div>
        </div>
        <div class="messehidari">
          <img src="./img/A.jpg" alt="" class="messeimg" />
          <div class="balloon2-left">
            <p>ご都合の良い候補日を送っていただけますと幸いです。</p>
          </div>
        </div>

        <!-- <ul>
          <li :style="stylemessage" v-for="item of list">{{item}}</li>
        </ul> -->
        <div class="messemigi" v-for="item of list">
          <div class="balloon2-right">
            <p>{{item}}</p>
          </div>
          <img src="./img/company1.jpeg" alt="" class="messeimg" />
        </div>
      </div>
      <div class="sousin">
        <input v-model="text" />
        <!-- <p>{{text}}</p> -->
        <!-- <button @click="func">送信</button> -->
        <img @click="func" src="./img/sousin.png" alt="" />
      </div>
    </template>

    <!-- 画面3 -->
    <template id="screen3-tmpl">
      <div class="scroll_lists">
        <p id="eventran">イベント一覧</p>
        <div class="eventtorihiki" @click="setScreen(7, $event)">
          <img src="./img/A.jpg" alt="" class="topimg" />
          <div class="eventtext">
            <p>5月15日（金）15：00</p>
            <p>A高校</p>
          </div>
        </div>

        <div class="eventtorihiki" @click="setScreen(13, $event)">
          <img src="./img/B.jpg" alt="" class="topimg" />
          <div class="eventtext">
            <p>6月23日（月）13：00</p>
            <p>B高校</p>
          </div>
        </div>

        <div class="eventtorihiki" @click="setScreen(14, $event)">
          <img src="./img/C.jpg" alt="" class="topimg" />
          <div class="eventtext">
            <p>7月4日（水）12：00</p>
            <p>C高校</p>
          </div>
        </div>

        <div class="eventtorihiki" @click="setScreen(15, $event)">
          <img src="./img/D.jpg" alt="" class="topimg" />
          <div class="eventtext">
            <p>9月15日（木）15：00</p>
            <p>D高校</p>
          </div>
        </div>
      </div>
    </template>

    <!-- 画面7 -->
    <template id="screen7-tmpl">
      <div class="eventnavi" @click="setScreen(3, $event)">
        <div class="sirusi">
          <img src="./img/yajirusi.png" alt="" width="20px" />
        </div>
        <p>イベント一覧</p>
      </div>
      <div class="yoyaku">
        <img src="./img/naviyoyaku.png" alt="" width="100px" />
        <p>予約状況</p>
        <p class="uniform" @click="setScreen(8, $event)">制服一覧</p>
      </div>
      <p class="yotei">予定日付　:　5月15日</p>
      <p class="yotei">予定日付　:　15：00~</p>
      <p class="yotei">予定日付　:　武道場</p>
      <p class="yotei">予定人数　:　125人</p>
    </template>

    <!-- 画面8 -->
    <template id="screen8-tmpl">
      <div class="seihukuichiran">
        <div class="eventnavi" @click="setScreen(7, $event)">
          <div class="sirusi">
            <img src="./img/yajirusi.png" alt="" width="20px" />
          </div>
          <p>予約状況</p>
        </div>
        <p class="seihukuran">制服回収品一覧</p>
        <div class="seihukuone">
          <div>
            <p>A高校</p>
            <p>春服用シャツ</p>
            <p><span style="color: red">150</span>着</p>
          </div>
          <img src="img/syatu.png" width="100px" />
        </div>
        <div class="seihukuone">
          <div>
            <p>A高校</p>
            <p>ブレザー</p>
            <p><span style="color: red">70</span>着</p>
          </div>
          <img src="img/jacket.png" width="100px" />
        </div>
        <div class="seihukuone">
          <div>
            <p>A高校</p>
            <p>スカート</p>
            <p><span style="color: red">70</span>着</p>
          </div>
          <img src="img/skirt.png" width="100px" />
        </div>
        <div class="seihukuone">
          <div>
            <p>A高校</p>
            <p>ネクタイ</p>
            <p><span style="color: red">60</span>着</p>
          </div>
          <img src="img/nekutai.png" width="100px" />
        </div>
      </div>
    </template>

    <!-- 画面4 -->
    <template id="screen4-tmpl">
      <div class="news">
        <p class="newsran">ニュース一覧</p>
        <div class="newstab">
          <p class="now">全て</p>
          <p @click="setScreen(9, $event)">お気に入り</p>
        </div>

        <div class="newsran2">
          <div class="news1matomari">
            <p class="newstopmoji">脱炭素化を目指す<br />リサイクルニュース①</p>
            <img
              :style="stylebookmark1"
              @click="funct1('■脱炭素化を目指すリサイクルニュース①', $event)"
              class="bookmark"
              src="./img/bookmark.svg"
              alt=""
            />
          </div>
          <img src="./img/company1.jpeg" width="100%" />
        </div>
        <div class="newsran2">
          <div class="news1matomari">
            <p class="newstopmoji">脱炭素化を目指す<br />リサイクルニュース②</p>
            <img
              :style="stylebookmark2"
              @click="funct2('■脱炭素化を目指すリサイクルニュース②', $event)"
              class="bookmark"
              src="./img/bookmark.svg"
              alt=""
            />
          </div>
        </div>
        <div class="newsran2">
          <div class="news1matomari">
            <p class="newstopmoji">脱炭素化を目指す<br />リサイクルニュース③</p>
            <img
              :style="stylebookmark3"
              @click="funct3('■脱炭素化を目指すリサイクルニュース③', $event)"
              class="bookmark"
              src="./img/bookmark.svg"
              alt=""
            />
          </div>
        </div>
        <div class="newsran2">
          <div class="news1matomari">
            <p class="newstopmoji">脱炭素化を目指す<br />リサイクルニュース④</p>
            <img
              :style="stylebookmark4"
              @click="funct4('■脱炭素化を目指すリサイクルニュース④', $event)"
              class="bookmark"
              src="./img/bookmark.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </template>

    <!-- 画面9 -->
    <template id="screen9-tmpl">
      <div class="news">
        <p class="newsran">ニュース一覧</p>
        <div class="newstab">
          <p @click="setScreen(4, $event)">全て</p>
          <p class="now">お気に入り</p>
        </div>
        <div class="okiniiriran">
          <p>{{topic1}}</p>
          <p>{{topic2}}</p>
          <p>{{topic3}}</p>
          <p>{{topic4}}</p>
        </div>
      </div>
    </template>

    <!-- 画面5 -->
    <template id="screen5-tmpl">
      <img src="./img/company1.jpeg" class="sonotop" />
      <div class="info">
        <h3>会社名</h3>
        <p>株式会社○○</p>
        <h3>メールアドレス</h3>
        <p>○○.0000@co.jp</p>
        <h3>電話番号</h3>
        <p>012-3456-7890</p>
      </div>
      <div class="settei">
        <img src="./img/beru.png" />
        <p>通知設定</p>
      </div>
      <div class="settei">
        <img src="./img/haguruma.png" />
        <p>環境設定</p>
      </div>
    </template>

    <!-- トークA -->
    <template id="screen10-tmpl">
      <div class="scroll_lists_t">
        <div class="torihiki">
          <img src="./img/B.jpg" alt="" class="topimg" />
          <p>B高校</p>
        </div>

        <div class="messemigi">
          <div class="balloon2-right">
            <p>
              こちら株式会社○○です。<br />
              よろしくお願いいたします。
            </p>
          </div>
          <img src="./img/company1.jpeg" alt="" class="messeimg" />
        </div>
        <div class="messehidari">
          <img src="./img/B.jpg" alt="" class="messeimg" />
          <div class="balloon2-left">
            <p>
              B高校です。 <br />
              こちらこそよろしくお願いします。
            </p>
          </div>
        </div>
        <div class="messemigi">
          <div class="balloon2-right">
            <p>
              ありがとうございます。<br />
              来週のイベントの講演について相談したい事があるのですがよろしいでしょうか。
            </p>
          </div>
          <img src="./img/company1.jpeg" alt="" class="messeimg" />
        </div>
        <div class="messehidari">
          <img src="./img/B.jpg" alt="" class="messeimg" />
          <div class="balloon2-left">
            <p>
              大丈夫です。<br />
              是非一度ミーティングを通して、お話出来ますでしょうか。
            </p>
          </div>
        </div>
        <div class="messehidari">
          <img src="./img/B.jpg" alt="" class="messeimg" />
          <div class="balloon2-left">
            <p>ご都合の良い候補日を送っていただけますと幸いです。</p>
          </div>
        </div>

        <!-- <ul>
          <li :style="stylemessage" v-for="item of list">{{item}}</li>
        </ul> -->
        <div class="messemigi" v-for="item of list">
          <div class="balloon2-right">
            <p>{{item}}</p>
          </div>
          <img src="./img/company1.jpeg" alt="" class="messeimg" />
        </div>
      </div>
      <div class="sousin">
        <input v-model="text" />
        <!-- <p>{{text}}</p> -->
        <!-- <button @click="func">送信</button> -->
        <img @click="func" src="./img/sousin.png" alt="" />
      </div>
    </template>

    <!-- トークB -->
    <!-- 画面11 -->
    <template id="screen11-tmpl">
      <div class="scroll_lists_t">
        <div class="torihiki">
          <img src="./img/C.jpg" alt="" class="topimg" />
          <p>C高校</p>
        </div>

        <div class="messemigi">
          <div class="balloon2-right">
            <p>
              こちら株式会社○○です。<br />
              よろしくお願いいたします。
            </p>
          </div>
          <img src="./img/company1.jpeg" alt="" class="messeimg" />
        </div>
        <div class="messehidari">
          <img src="./img/C.jpg" alt="" class="messeimg" />
          <div class="balloon2-left">
            <p>
              C高校です。 <br />
              こちらこそよろしくお願いします。
            </p>
          </div>
        </div>
        <div class="messemigi">
          <div class="balloon2-right">
            <p>
              ありがとうございます。<br />
              来週のイベントの講演について相談したい事があるのですがよろしいでしょうか。
            </p>
          </div>
          <img src="./img/company1.jpeg" alt="" class="messeimg" />
        </div>
        <div class="messehidari">
          <img src="./img/C.jpg" alt="" class="messeimg" />
          <div class="balloon2-left">
            <p>
              大丈夫です。<br />
              是非一度ミーティングを通して、お話出来ますでしょうか。
            </p>
          </div>
        </div>
        <div class="messehidari">
          <img src="./img/C.jpg" alt="" class="messeimg" />
          <div class="balloon2-left">
            <p>ご都合の良い候補日を送っていただけますと幸いです。</p>
          </div>
        </div>

        <!-- <ul>
          <li :style="stylemessage" v-for="item of list">{{item}}</li>
        </ul> -->
        <div class="messemigi" v-for="item of list">
          <div class="balloon2-right">
            <p>{{item}}</p>
          </div>
          <img src="./img/company1.jpeg" alt="" class="messeimg" />
        </div>
      </div>
      <div class="sousin">
        <input v-model="text" />
        <!-- <p>{{text}}</p> -->
        <!-- <button @click="func">送信</button> -->
        <img @click="func" src="./img/sousin.png" alt="" />
      </div>
    </template>

    <!-- トークC -->
    <!-- 画面12 -->
    <template id="screen12-tmpl">
      <div class="scroll_lists_t">
        <div class="torihiki">
          <img src="./img/D.jpg" alt="" class="topimg" />
          <p>D高校</p>
        </div>

        <div class="messemigi">
          <div class="balloon2-right">
            <p>
              こちら株式会社○○です。<br />
              よろしくお願いいたします。
            </p>
          </div>
          <img src="./img/company1.jpeg" alt="" class="messeimg" />
        </div>
        <div class="messehidari">
          <img src="./img/D.jpg" alt="" class="messeimg" />
          <div class="balloon2-left">
            <p>
              D高校です。 <br />
              こちらこそよろしくお願いします。
            </p>
          </div>
        </div>
        <div class="messemigi">
          <div class="balloon2-right">
            <p>
              ありがとうございます。<br />
              来週のイベントの講演について相談したい事があるのですがよろしいでしょうか。
            </p>
          </div>
          <img src="./img/company1.jpeg" alt="" class="messeimg" />
        </div>
        <div class="messehidari">
          <img src="./img/D.jpg" alt="" class="messeimg" />
          <div class="balloon2-left">
            <p>
              大丈夫です。<br />
              是非一度ミーティングを通して、お話出来ますでしょうか。
            </p>
          </div>
        </div>
        <div class="messehidari">
          <img src="./img/D.jpg" alt="" class="messeimg" />
          <div class="balloon2-left">
            <p>ご都合の良い候補日を送っていただけますと幸いです。</p>
          </div>
        </div>

        <!-- <ul>
          <li :style="stylemessage" v-for="item of list">{{item}}</li>
        </ul> -->
        <div class="messemigi" v-for="item of list">
          <div class="balloon2-right">
            <p>{{item}}</p>
          </div>
          <img src="./img/company1.jpeg" alt="" class="messeimg" />
        </div>
      </div>
      <div class="sousin">
        <input v-model="text" />
        <!-- <p>{{text}}</p> -->
        <!-- <button @click="func">送信</button> -->
        <img @click="func" src="./img/sousin.png" alt="" />
      </div>
    </template>

    <!-- 予約状況A -->
    <!-- 画面13 -->
    <template id="screen13-tmpl">
      <div class="eventnavi" @click="setScreen(3, $event)">
        <div class="sirusi">
          <img src="./img/yajirusi.png" alt="" width="20px" />
        </div>
        <p>イベント一覧</p>
      </div>
      <div class="yoyaku">
        <img src="./img/naviyoyaku.png" alt="" width="100px" />
        <p>予約状況</p>
        <p class="uniform" @click="setScreen(16, $event)">制服一覧</p>
      </div>
      <p class="yotei">予定日付　:　6月23日</p>
      <p class="yotei">予定日付　:　13：00~</p>
      <p class="yotei">予定日付　:　第２教室</p>
      <p class="yotei">予定人数　:　100人</p>
    </template>

    <!-- 予約状況B -->
    <!-- 画面14 -->
    <template id="screen14-tmpl">
      <div class="eventnavi" @click="setScreen(3, $event)">
        <div class="sirusi">
          <img src="./img/yajirusi.png" alt="" width="20px" />
        </div>
        <p>イベント一覧</p>
      </div>
      <div class="yoyaku">
        <img src="./img/naviyoyaku.png" alt="" width="100px" />
        <p>予約状況</p>
        <p class="uniform" @click="setScreen(17, $event)">制服一覧</p>
      </div>
      <p class="yotei">予定日付　:　7月4日</p>
      <p class="yotei">予定日付　:　12：00~</p>
      <p class="yotei">予定日付　:　職員室前廊下</p>
      <p class="yotei">予定人数　:　162人</p>
    </template>

    <!-- 予約状況C -->
    <!-- 画面15 -->
    <template id="screen15-tmpl">
      <div class="eventnavi" @click="setScreen(3, $event)">
        <div class="sirusi">
          <img src="./img/yajirusi.png" alt="" width="20px" />
        </div>
        <p>イベント一覧</p>
      </div>
      <div class="yoyaku">
        <img src="./img/naviyoyaku.png" alt="" width="100px" />
        <p>予約状況</p>
        <p class="uniform" @click="setScreen(18, $event)">制服一覧</p>
      </div>
      <p class="yotei">予定日付　:　9月15日</p>
      <p class="yotei">予定日付　:　15：00~</p>
      <p class="yotei">予定日付　:　体育館</p>
      <p class="yotei">予定人数　:　78人</p>
    </template>

    <!-- 予約詳細A -->
    <!-- 画面16 -->
    <template id="screen16-tmpl">
      <div class="seihukuichiran">
        <div class="eventnavi" @click="setScreen(13, $event)">
          <div class="sirusi">
            <img src="./img/yajirusi.png" alt="" width="20px" />
          </div>
          <p>予約状況</p>
        </div>
        <p class="seihukuran">制服回収品一覧</p>
        <div class="seihukuone">
          <div>
            <p>B高校</p>
            <p>春服用シャツ</p>
            <p><span style="color: red">149</span>着</p>
          </div>
          <img src="img/syatu.png" width="100px" />
        </div>
        <div class="seihukuone">
          <div>
            <p>B高校</p>
            <p>ブレザー</p>
            <p><span style="color: red">82</span>着</p>
          </div>
          <img src="img/jacket.png" width="100px" />
        </div>
        <div class="seihukuone">
          <div>
            <p>B高校</p>
            <p>スカート</p>
            <p><span style="color: red">85</span>着</p>
          </div>
          <img src="img/skirt.png" width="100px" />
        </div>
        <div class="seihukuone">
          <div>
            <p>B高校</p>
            <p>ネクタイ</p>
            <p><span style="color: red">68</span>着</p>
          </div>
          <img src="img/nekutai.png" width="100px" />
        </div>
      </div>
    </template>

    <!-- 予約詳細B -->
    <!-- 画面17 -->
    <template id="screen17-tmpl">
      <div class="seihukuichiran">
        <div class="eventnavi" @click="setScreen(14, $event)">
          <div class="sirusi">
            <img src="./img/yajirusi.png" alt="" width="20px" />
          </div>
          <p>予約状況</p>
        </div>
        <p class="seihukuran">制服回収品一覧</p>
        <div class="seihukuone">
          <div>
            <p>C高校</p>
            <p>春服用シャツ</p>
            <p><span style="color: red">201</span>着</p>
          </div>
          <img src="img/syatu.png" width="100px" />
        </div>
        <div class="seihukuone">
          <div>
            <p>C高校</p>
            <p>ブレザー</p>
            <p><span style="color: red">124</span>着</p>
          </div>
          <img src="img/jacket.png" width="100px" />
        </div>
        <div class="seihukuone">
          <div>
            <p>C高校</p>
            <p>スカート</p>
            <p><span style="color: red">130</span>着</p>
          </div>
          <img src="img/skirt.png" width="100px" />
        </div>
        <div class="seihukuone">
          <div>
            <p>C高校</p>
            <p>ネクタイ</p>
            <p><span style="color: red">91</span>着</p>
          </div>
          <img src="img/nekutai.png" width="100px" />
        </div>
      </div>
    </template>

    <!-- 予約詳細C -->
    <!-- 画面18 -->
    <template id="screen18-tmpl">
      <div class="seihukuichiran">
        <div class="eventnavi" @click="setScreen(15, $event)">
          <div class="sirusi">
            <img src="./img/yajirusi.png" alt="" width="20px" />
          </div>
          <p>予約状況</p>
        </div>
        <p class="seihukuran">制服回収品一覧</p>
        <div class="seihukuone">
          <div>
            <p>D高校</p>
            <p>春服用シャツ</p>
            <p><span style="color: red">78</span>着</p>
          </div>
          <img src="img/syatu.png" width="100px" />
        </div>
        <div class="seihukuone">
          <div>
            <p>D高校</p>
            <p>ブレザー</p>
            <p><span style="color: red">35</span>着</p>
          </div>
          <img src="img/jacket.png" width="100px" />
        </div>
        <div class="seihukuone">
          <div>
            <p>D高校</p>
            <p>スカート</p>
            <p><span style="color: red">39</span>着</p>
          </div>
          <img src="img/skirt.png" width="100px" />
        </div>
        <div class="seihukuone">
          <div>
            <p>D高校</p>
            <p>ネクタイ</p>
            <p><span style="color: red">45</span>着</p>
          </div>
          <img src="img/nekutai.png" width="100px" />
        </div>
      </div>
    </template>

    <script src="https://unpkg.com/petite-vue"></script>
    <script src="script2.js"></script>
  </body>
</html>
